.sidebar {
   height: 100vh;
   width: 5rem;
   background-color: #262626;
   transition: all 0.5s ease-in-out;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   z-index: 5;
}
.bottomBar {
    display: none;
}
.sidebar .top .logo {
    color: lightgreen;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
}
.menu {
    position: absolute;
    color: lightgreen;
    top: 0.4rem;
    margin-left: 1rem;
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 1000000000;
}
.menu svg {
    font-weight: 1200;
}
.menu:hover {
    color: darkgreen;
    transition: 0.8s;
}
.sidebar ul {
    margin-top: 2rem;
    position: relative;
    list-style-type: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidebar ul li .anchor {
    color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 1rem;
    width: 100%;
    font-size: 1.5rem;
}
.sidebar ul li .anchor:hover {
    transition: 0.5s;
    background-color: lightgreen;
    color: black;
}
.sidebar ul li .anchor .icon {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.drawerInput::placeholder { 
    color: limegreen
}
.top .logo {
    font-size: 2rem;
    margin-right: 5px;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: lightgreen;
    width: 100%;
    text-decoration: none;
}
.sidebar .anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sidebar .anchor .icon {
    margin-top: 10px;
}
.user img{
    border-radius: 100%;
    border: 2px solid lightgreen;
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 768px) {
    .menu {
        bottom: 0;
        top: auto;
        left: 0;
        margin-bottom: 1.5rem;
    }
    .bottomBar {
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: space-evenly;
        align-items: center;
        background-color: #262626;
        height: 8vh;
    }
    .adm-tab-bar-wrap {
        width: 100%;
    }
    .bottomBarIcon {
        display: flex;
        width: 100%;
        color: lightgreen;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 8vh;
    }
    .activeIcon {
        color: limegreen;
    }
    .inactiveIcon {
        color: lightgreen;
    }
    .title {
        color: white;
        font-size: 1rem;
        margin: 0.25rem;
    }
    .notLoggedInIcon {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 5vh;
        font-size: 1rem;
        color: lightgreen;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .icon {
        font-size: 2rem;
    }
} 