.item {
    width: 30rem;
    background-color: #262626;
    color: lightgreen;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 24px;
    margin-top: 1rem;
    height: 98vh;
    scroll-snap-align: start;
    transform-origin: center center;
    transform: scale(1);
    transition: 0.5s;
}
.top {
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    margin-bottom: 1rem;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.user > img {
    border-radius: 50%;
}
.action {
    display: flex;
    width: 100%;
    height: 1rem;
    padding: 1rem;
    color: lightgreen;
}
.action .icon {
    margin-inline: 0.5rem;
    font-size: clamp(1rem,2rem,2.5rem);
    cursor: pointer;
}
.save {
    font-size: clamp(1rem,2rem,2.5rem);
    cursor: pointer;
    margin-left: auto;
}
.delete {
    color: crimson;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    margin-top: 2rem;
}
.likesandusername {
    margin-inline: 1rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 90%;
}
/* slider styles */
.image {
    position: relative;
    max-width: 100%;
    aspect-ratio: 9 / 18;
}
.image img {
    border-radius: 12px;
}
.hidden {
    visibility: hidden;
}
.drawerButton {
    align-self: center;
    width: 20rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal {
    background: #262626;
    max-height: 50vh;
    overflow-y: auto;
}
.modal::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
.modal::-webkit-scrollbar-thumb {
    background: darkgreen;
    border-radius: 10px;
  }
.modal::-webkit-scrollbar-track {
    background: transparent;
  }
.imageBar, .imageBottomBar {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: lightgreen;
    width: 100%;
    z-index: 6;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
    font-size: 1.1rem;
}
.imageBottomBar {
    bottom: 0;
    background-color: #292929;
}
.imageBottomBar * {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.download {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 1000000000000;
    color: lightgreen;
    margin-right: 1rem;
    cursor: pointer;
}
.comment {
    position: relative;
    display: flex;
}
.badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    margin-bottom: auto;
    margin-top: -0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1rem;
    border-radius: 50%;
    background-color: lightgreen;
    color: black;
}
@media screen and (max-width: 600px) {
    .item {
        width: 100vw;
        border-radius: 0;
    }
}