.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 15vh;
    background-color: black;
    padding-inline: 2rem;
    z-index: 10;
}
.navbar .navtitle {
    color: azure;
    margin: 10px;
}
.navbar .list {
    width: 100%;
    display: flex;
    gap: 3rem;
}
.listElement {
    text-decoration: none;
    border: 2px solid magenta;
    color: magenta;
    padding: 0.5rem;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    cursor: pointer;
}
.listElement:hover {
    background-color: magenta;
    border-radius: 10px;
    color: azure;
    transition: 0.5s;
}
.searchBar {
    height: 30%;
    border-radius: 20px;
    border: 2px solid magenta;
    background-color: black;
    color: white;
    padding: 1rem;
}
.searchResults {
    position: absolute;
    top: 58px;
    width: 400px;
    transform: translateX(-45%);
    overflow: hidden;
    padding: 1rem;
    background-color: gray;
}
.searchResult {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0.5rem;
}
@media only screen and (max-width: 786px){
    .navbar {
        position: relative;
        bottom: 0;
        height: 15vh;
    }
    .navbar .list {
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .navbar .list .listElement {
        scroll-snap-align: start;
        transform-origin: center center;
        padding: 1em;
        width: 15rem;
    }
    .navbar .navtitle {
        display: none;
    }
    
}