@import url('https://fonts.googleapis.com/css?family=DM Sans');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'DM Sans';
}
body {
  background-color: #121212;
  color: white;
  max-height: 100vh;
  max-width: 100vw;
}
.sidebar.active ~ .content {
    margin-left: 2rem;
    left: 5rem;
    width: calc(100% - 5rem);
    height: 100vh;
}
.content {
  position: relative;
  top: 0;
  left: 5rem;
  transition: all 0.5 ease;
  width: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.content::-webkit-scrollbar-thumb {
  background: darkgreen;
  border-radius: 10px;
}
.content::-webkit-scrollbar-track {
  background: transparent;
}