@import url('https://fonts.googleapis.com/css?family=DM Sans');
* {
  font-family: 'DM Sans';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:where(.css-dev-only-do-not-override-ph9edi).ant-modal .ant-modal-content, .ant-modal .ant-modal-content .ant-modal-title {
  color: white;
  background-color: #262626;
}
*:where(.css-dev-only-do-not-override-ph9edi).ant-modal .ant-modal-content {
  color: white;
  background-color: #262626;
}
*:where(.css-ph9edi).ant-modal .ant-modal-content {
  color: white;
  background-color: #262626;
}
html {
  font-family: 'DM Sans';
}
body {
  background-color: #121212;
  color: white;
  max-height: 100vh;
  max-width: 100vw;
}
.content {
  position: relative;
  transition: all 1.5 ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.content::-webkit-scrollbar, .ant-drawer-body::-webkit-scrollbar, .chat::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.content::-webkit-scrollbar-thumb, .ant-drawer-body::-webkit-scrollbar-thumb, .chat::-webkit-scrollbar-thumb {
  background: darkgreen;
  border-radius: 10px;
}
.content::-webkit-scrollbar-track, .ant-drawer-body::-webkit-scrollbar-track, .chat::-webkit-scrollbar-track {
  background: transparent;
}
.ant-modal-root, .ant-modal-content, .ant-modal-title {
  background-color: #262626;
  color: white
}
.adm-tab-bar-wrap {
  width: 75%;
  height: 8vh;
  color: lightgreen;
  margin-bottom: 0.7rem;
}
@media screen and (max-width: 768px) {
  .content {
    position: sticky;
    top: 0;
    right: auto;
    left: auto;
    transition: all 1.5 ease;
    margin: 0;
    margin-bottom: 8vh;
    width: 100vw;
    max-height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}