/* navbar styles */
.navbar {
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;

    height: 10vh;
    background-color: black;
    padding-inline: 10px;
}
.navbar .navtitle {
    color: azure;
}
.navbar .list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}
.navbar .list .listElement {
    text-decoration: none;
    border: 2px solid magenta;
    color: magenta;
    padding: 0.5em;
    border-radius: 20px;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    cursor: pointer;
}
.navbar .list .listElement:hover {
    background-color: magenta;
    border-radius: 10px;
    color: azure;
    transition: 0.5s;
}
.navbar .list .loggedIn {
    margin-left: auto;
    color: black;
}
@media only screen and (max-width: 786px){
    .navbar {
        position: fixed;
        bottom: 0;
        height: 15vh;
    }
    .navbar .list {
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .navbar .list .listElement {
        scroll-snap-align: start;
        transform-origin: center center;
        padding: 1em;
        width: 15rem;
    }
    .navbar .navtitle {
        display: none;
    }
    
}
/* experience page styles */
.center {
    margin-top: 5em;
    display: flex;
    width: 100%;
}
.center ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    line-height: 4rem;
}
.center ul > li > a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.center ul > li {
    list-style-type: none;
}
.center ul > li > a:hover {
    font-size: 2em;
    color: rebeccapurple;
    transition: 0.5s;
    cursor: pointer;
}
/* home styles*/
.home {
    margin-top: 5rem;
    text-align: center;
    padding: 2rem;
}
.home p {
    padding: 1rem;
    font-size: larger;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}